@reference "tailwindcss";

button {
  @apply w-full h-16 outline-none focus:outline-none bg-indigo-400/30 hover:bg-indigo-700/40 text-white text-xl font-light;
}

.is-command {
  @apply bg-indigo-700/20;

}
